*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

:root{

  --white: #FFF;
  --black: #000;

  --dark-900: #101026;
  --dark-700: #1D1D2E;
  --gray-100: #8A8A8A;
  --green-900: #3fffa3;
  --red-900: #FF3F4B;

}

button {
  cursor: pointer;
}

a{
  color: inherit;
  text-decoration: none;
}

body{
  background: var(--dark-700);
}

body, input, textarea, select, button{
  font: 400 1rem sans-serif; // 1rem é igual a 16 pixels
}

@media (max-width: 720px){
  html{
    font-size: 87.5%; //vai gerar 14 pixels
  }
}

@media (max-width: 1080px){
  html{
    font-size: 93.75%; //vai gerar 15 pixels
  }
}